/*
 * SPDX-FileCopyrightText: 2025 The BAR Lobby Authors
 *
 * SPDX-License-Identifier: MIT
 */

@use "sass:map";
@use "spacing" as *;

.view {
    height: 100%;
    width: 100%;
    padding-top: map.get($spacing, "xxl");
    padding-bottom: map.get($spacing, "xxl");
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: map.get($spacing, "sm");
    overflow: hidden;
    position: relative;
    contain: layout style paint;
}

.view-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 map.get($spacing, "xxl") map.get($spacing, "sm") map.get($spacing, "xxl");

    .view-title {
        padding-left: 0;
    }
}

.view-title {
    margin-bottom: map.get($spacing, "xl");
    h1 {
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
    }
    p {
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
    }
}
